@import "tailwindcss";

@layer base {
  body {
    background-color: white;
    color: black;
  }
}
/* .background{
              background-image: url("../../public/images/");
} */
.background-press {
  background-image: url("/images/Dog_image_GR.png"), 
                    linear-gradient(rgba(23, 207, 173, 0.1), transparent);
  background-repeat: no-repeat;
  background-size: cover;
}